html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 12pt;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    background-color: aqua;
}

li {
    background-color: white;
    color: black;
    font-weight: 700;
    cursor: pointer;
    margin: 7.5%;
    padding: 4%;
    width: 8.5vw;
}

ul {
    list-style-type: none;
    align-items: flex-start;
}

.impact {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.fullWidth {
    width: 100vw;
}

.contentContainer {
    width: 20%;
    height: 70%;
    background-color: grey;
    border-radius: 1.5rem;
}

.square {
    width: 40%;
    height: 40%;
    background-color: white;
    border-radius: 1.5rem;
    transition: 0.5s;
}

.square:hover {
    background-color: darkgrey;
    transition: 0.5s;
}

.content {
    height: 50vh;
    border: 1px solid red;
}

.gap {
    height: 10vh;
    border: 2px dashed purple;
    align-content: center;
}

.gap::after {
    content: "I'm a gap";
    margin: auto;
    font-size: 3rem;
}

.hoverable{
    cursor: pointer;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.centerItems {
    align-items: center;
}

.alignText {
    text-align: center;
}

.justifyContent{
    justify-content: space-around;
}

.wrapOn {
    flex-wrap: wrap;
}

.topBar {
    height: 70px;
    width: 100vw;
    justify-content: space-between;
    padding: 1px;
    background-color: grey;
}

.iconBar {
    height: 50%;
    width: 100%;
    justify-content: space-between;
}

.iconBar img {
    max-width: 3vw;
    height: auto;
}

.options {
    width: 50%;
    justify-content: space-evenly;
}

.moreOptions {
    width: 25%;
    justify-content: space-evenly;
}

.hidden {
    display: none;
}

.bigTitle {
    margin-left: 1vw;
    font-size: 2rem;
}

.smallTitle {
    font-size: 1.2em;
}

#dropdown {
    width: 10vw;
    margin-left: 2.5rem;
    margin-top: 1rem;
    background-color: grey;
    border-radius: 0.5rem;
}