@import "animations.css";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 12pt;
    vertical-align: baseline;
    box-sizing: border-box;
    color: white;
}

:root {
    --dmTextLight: white;
    --dmTextDark: black;
}

body {
    background-color: rgb(20, 20, 20);
}

li {
    background-color: white;
    color: black;
    font-weight: 700;
    cursor: pointer;
    margin: 7.5%;
    padding: 4%;
    width: 8.5vw;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

span {
    color: black;
}

textarea {
    display: inline;
    font-size: 1rem;
    text-align: left;
    vertical-align: middle;
}

input[type="text"] {
    box-shadow: none;
    background-color: rgb(0,0,0,0);
    border-style: solid;
    border-color: rgb(0,0,0,0);  
    color: white; 
}

input[type="text"]:focus {
    outline:none
}

input[type="text"]::before{
    background-color: white;
}

button {
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.giveBorder {
    border: 1px solid red;
}

.impact {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.fullWidth {
    width: 100vw;
}

.center {
    justify-content: center;
}

.fullHeight {
    height: 100vh;
}

.fullHeightPercent {
    height: 100%;
}

.halfWidthPercent {
    width: 50%;
}

.innerBorder {
    height: 50%;
    width: 50%;
    background-color: white;
    border-radius: 1.5rem;
}

.rectangle {
    width: 40%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: inherit;
    transition: 0.5s;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.rectangle h2, p{
    color: black;
}

.playerPicture {
    height: 100%;
    width: auto;
    border-radius: 1.5rem;
    box-shadow: 0px 5px 1.5rem black;
}

.textInput {
    border: 2px solid rgb(247, 247, 247);
    height: 50%;
}

.contentContainer {
    width: 40%;
    height: 70%;
    background-color: #c1c1c1;
    border-radius: 1.5rem;
}

.square {
    width: 40%;
    height: 40%;
    background-color: rgb(255, 255, 255);
    border-radius: inherit;
    transition: 0.5s;
    justify-content: center;
    align-content: center;
}

.container {
    height: 90%;
    width: 90%;
    background-color: rgb(161, 161, 161);
    border-radius: inherit;
    align-content: center;
}

.subContainer {
    width: 100%;
    height: 25%;
    border-radius: inherit;
    
}

.square:hover {
    background-color: darkgrey;
    transition: 0.5s;
}

.square::after{
    content: "content";
    color: white;
    margin-left: 25%;
}

.square:active {
    background-color: rgb(78, 132, 55);
    transition: 0.1s;
}

.content {
    height: 45vh;
}

.gap {
    height: 10vh;
    align-content: center;
}

.smallGap {
    height: 2vh;
    align-content: center;
}

.gap::after {
    margin: auto;
    font-size: 3rem;
}

.hoverable{
    cursor: pointer;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.centerItems {
    align-items: center;
}

.alignText {
    text-align: center;
}

.justifyContent{
    justify-content: space-evenly;
}

.wrapOn {
    flex-wrap: wrap;
}

.topBar {
    height: 70px;
    width: 100vw;
    padding: 1px;
    background-color: rgb(255, 255, 255);
}

.iconBar {
    height: 50%;
    width: 100%;
    justify-content: end;
}

.iconBar img {
    max-width: 3vw;
    height: auto;
}

.options {
    width: 68%;
    justify-content: center;
}

.moreOptions {
    width: 16%;
    justify-content: center;
}

.hidden {
    display: none;
}

.bigTitle {
    font-size: 2rem;
}

.smallTitle {
    font-size: 1.2em;
}

.spaceBelow {
    margin-bottom: 10px;
}

#dropdown {
    position: fixed;
    width: 10vw;
    margin-left: 2.5rem;
    margin-top: 1rem;
    background-color: grey;
    border-radius: 0.5rem;
}

#playerInfoList {
    margin-left: 10px;
    width: 90%;
}

#playerInfoRectangle {    
    width: 40%;
    height: 100%;
    justify-content: flex-start;
    background-color: rgb(255, 255, 255);
    border-radius: inherit;
    transition: 0.5s;
    overflow: hidden;
}

#playerInfoHeaderBox {
    margin-top: 2px;
    justify-content: center;
    height: 10%;
    width: 100%;
}

#playerListBox {
    height: 60%;
    width: 100%;
}

.playerInfoListItem {
    background-color: none;
    cursor: default; 
    margin: 0;
    padding: 1%;
    width: 100%;
}

.playerInfoListItemContent {
    font-weight: 300;
}

.playerInfoListItemContent::before {
    font-weight: 600; 
    content: attr(id) ": "
}

.greenbox {
    border: rgb(223, 223, 223) 1px solid;
    background-color: rgb(37, 175, 69);
    width: 6%;
    height: 90%;
    border-radius: 0.2em;
    margin: 3%;
    transition: 0.5s
}

.redbox {
    border: 1px rgb(228, 228, 228) solid;
    background-color: rgb(190, 5, 5);
    width: 6%;
    height: 90%;
    border-radius: 0.2em;
    margin: 3%;
    transition: 0.5s;
}

.playerNameListItem {
  width: 100%;
  padding: 1%;
  margin: 1px;
  border-radius: 0.3em;
  color: white;
  background-color: #242424;
}

#playerNameList {
    width: 100%;
    border: #434343 1px solid;
    margin-top: 0.3em;
    border-radius: 0.3em;
    overflow-y: scroll;
    max-height: 20vh;
    overflow-x: hidden;
}

#strikesContainer {
    height: 3.5vh;
}

#strikes {
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25%;
    background-color: rgb(21, 20, 20);
    border-radius: 0.5em;
    animation: push-down ease-in-out 0.7s; 
    overflow: hidden;
}

#submitButton{
    margin: auto;
}

#guessContainer {
    margin:auto;
    width: 50%;
}

